<div class="login-alert" [hidden]="logged">
  <img src="../../assets/images/zergling.gif">
  <div class="login-alert__text">Please login first</div>
</div>
<div class="content" *ngIf="getAuthorizationStatus()">
  <div class="search-field">
    <form name="usernameSearch" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="search-form">
      <div class="search-form__error">
        <div *ngIf="f.submitted && username.invalid" class="search-form__error__invalid-feedback">
          <div *ngIf="username.errors.required">{{'SEARCH_FIELD_EMPTY_ERROR' | translate}}</div>
        </div>
      </div>
     <div class="search-form__input-container">
       <input placeholder="{{'SEARCH_FIELD_PLACEHOLDER' | translate}}"
              type="text"
              class="search-form__input"
              name="username" [(ngModel)]="model.username"
              #username="ngModel"
              [ngClass]="{ 'search-form__input_is-invalid': f.submitted && username.invalid }" required />
       <button class="search-form__button" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }">
         {{'SEARCH_BUTTON_TEXT' | translate}}
       </button>
     </div>
    </form>
    <div class="search-field__last-search-title" *ngIf="lastSearches != null && lastSearches.length > 0" [innerHTML]="'LAST_SEARCH_TITLE' | translate"></div>
    <div class="search-field__last-searches" *ngIf="lastSearches != null && lastSearches.length > 0">
      <div class="search-field__search-item" *ngFor="let item of sortSearches(lastSearches)" (click)="repeatSearch(item)">{{item}}</div>
    </div>
  </div>

  <div class="display-switcher content__display-switcher">
    <div class="display-switcher__text">{{searchName ? ('SEARCHING_FOR' | translate:{value: searchName}) : ('GITHUB_POPULAR' | translate)}}</div>
    <div class="display-switcher__icons">
      <div class="material-icons display-switcher__icon" (click)="tiled = false">view_list</div>
      <div class="material-icons display-switcher__icon_inverted" (click)="tiled = true">border_all</div>
    </div>
  </div>

  <div class="user-wrapper content__user-wrapper">
    <div *ngIf="!contentLoading && userDisplayedList.length == 0" [innerHTML]="'EMPTY_RESPONSE' | translate"></div>
    <div class="loader user-wrapper__loader" [hidden]="!contentLoading">
      <div class="loader__holder">
        <div class="loader__preloader"><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>

    <div *ngIf="userDisplayedList.length > 0" class="user-wrapper" [ngClass]="tiled ? 'user-wrapper_tiled' : ''">
      <div  *ngFor="let item of userDisplayedList" class="user-wrapper__item" [ngClass]="isEmptyRequest(item) ? 'dont-show' : ''">
        <div class="user-wrapper__item_user-info" *ngIf="!isEmptyRequest(item)">
          <img src="{{item.avatarUrl}}" class="user-wrapper__avatar">
          <div class="user-wrapper__information">
            <div class="user-wrapper__name" routerLink="{{item.login}}">{{item.name != null ? item.name : item.login}}</div>
            <div class="user-wrapper__type">{{item.__typename}}</div>
          </div>
        </div>
        <div class="user-wrapper__repositories user-wrapper__repositories_empty"
             *ngIf="!isEmptyRequest(item) && !(item.repositories.nodes.length > 0)" [innerHTML]="'REPOS_EMPTY' | translate"></div>
        <div class="user-wrapper__repositories" *ngIf="!isEmptyRequest(item) && item.repositories.nodes.length > 0">
          <div class="user-wrapper__repositories__title" [innerHTML]="'USER_REPOSITORIES' | translate"></div>
          <div class="user-wrapper__repository"
               *ngFor="let repo of sortByNameLength(item.repositories.nodes)"
               (click)="redirectToUrl(repo.url)">
            {{repo.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
