<div class="header">
  <h1>
    {{ 'TITLE' | translate }}
  </h1>
  <div class="header__login-form">
      <div class="header__login-button header__login-button_logged" [hidden]="!logged">
          {{ 'LOGGED_BUTTON' | translate }}
      </div>
      <div class="header__login-button header__login-button_logged" [hidden]="!pendingAuthorisation">
          {{ 'PENDING_BUTTON' | translate }}
      </div>
      <div class="header__login-button" (click)="logIntoGithub();" [hidden]="logged || pendingAuthorisation">
          {{ 'LOGIN_BUTTON' | translate }}
      </div>
  </div>
</div>

<router-outlet></router-outlet>
