.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 800px) {
    margin-right: 10%;
    margin-left: 10%;
  }

  &__login-form {
    display: flex;
    align-items: center;
  }

  &__login-button {
    padding: 5px;
    background-color: #5B95D4;
    border: 1px solid #000000;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      background-color: #6BA5E4;
    }

    &_logged {
      background-color: #6BE4A5;
      cursor: auto;
    }
  }
}